<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>[[#{admin.title}]]</title>
    <div class="container">
        <a href="/user/logout">
            <button style="margin-left:120px" type="submit" >[[#{exit}]]</button>
        </a>
        <a href="/user/change">
            <button style="margin-left:120px" type="submit" >[[#{change}]]</button>
        </a>
        <a th:href="@{?lang=en}">
            <button style="margin-left:20px" type="submit">EN</button>
        </a>
        <a th:href="@{?lang=uk}">
            <button style="margin-left:1px" type="submit">UK</button>
        </a>
    </div>
</head>
<body>
<hr />
<a><span style="font-family:Comic Sans MS,cursive" >[[#{user.hello}]], </span></a>
<a><span style="font-family:Comic Sans MS,cursive" th:text="${username}">text</span></a>
<a><span style="font-family:Comic Sans MS,cursive" > ([[#{admin.admin}]])</span></a>

<br/>
<br/>
<br/>

<table border="1" cellpadding="1" cellspacing="1" style="width:500px">
    <caption>Все пользователи</caption>
    <thead>
    <th >ID</th>
    <th >[[#{admin.name}]]</th>
    <th >[[#{admin.login}]]</th>
    <th >[[#{admin.email}]]</th>
    <th >[[#{admin.role}]]</th>
    </thead>
    <tbody th:each="user : ${users}">
        <td th:text="${user.getId()}"/>
        <td th:text="${user.getName()}"/>
        <td th:text="${user.getLogin()}"/>
        <td th:text="${user.getEmail()}"/>
        <td th:text="${user.getRole().name()}"/>
        <td>
            <form method="post" action="/user/admin/block">
                <input type="hidden" id="block_id" name="block_id" th:value="${user.getId()}">
                <button type="submit">[[#{admin.blockUser}]]</button>
            </form>
        <td>
            <form method="post" action="/user/admin/unblock">
                <input type="hidden" id="unblock_id" name="unblock_id" th:value="${user.getId()}">
                <button type="submit">[[#{admin.unblockUser}]]</button>
            </form>
        <td>
            <form method="post" action="/user/admin/delete">
                <input type="hidden" id="delete_id" name="delete_id" th:value="${user.getId()}">
                <button type="submit">[[#{admin.deleteUser}]]</button>
            </form>
</table>
<br/>
<form style="margin-left:70px" method="get" action="/user/admin/register">
    <button type="submit">[[#{admin.userReg}]]</button>
</form>

<p>&nbsp; &nbsp;&nbsp;</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:500px">
    <caption>[[#{admin.services}]]</caption>
    <thead>
    <th>ID</th>
    <th>[[#{user.name}]]</th>
    <th>[[#{user.price}]]</th>
    </thead>
    <tbody th:each="service : ${services}">
        <td th:text="${service.getId()}"/>
        <td th:text="${service.getName()}"/>
        <td th:text="${service.getPrice()}"/>
        <td>
            <form method="post" action="/user/admin/remove">
                <input type="hidden" id="delete_service_id" name="delete_service_id" th:value="${service.getId()}">
                <button type="submit">[[#{admin.deleteService}]]</button>
            </form>
</table>
<a>[[#{user.sort}]]:</a>
<a style="margin-left:50px" href="/user/admin?sort=id">Id</a>
<a style="margin-left:60px" href="/user/admin?sort=name">[[#{user.name}]]</a>
<a style="margin-left:70px" href="/user/admin?sort=price">[[#{user.price}]]</a>
<form style="margin-left:70px" method="get" action="/user/admin/add">
    <button type="submit">[[#{admin.addService}]]</button>
</form>

<p>&nbsp;</p>
</body>
</html>
