<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Админ</title>
    <a style="margin-left:50px" href="/user/logout">Выход</a>
    <a style="margin-left:70px" href="/user/change">Сменить пароль</a>
</head>
<body>
<hr />
<a><span style="font-family:Comic Sans MS,cursive" >Здраствуйте, </span></a>
<a><span style="font-family:Comic Sans MS,cursive" th:text="${username}">text</span></a>
<a><span style="font-family:Comic Sans MS,cursive" > (Админ)</span></a>

<br/>
<br/>
<br/>

<table border="1" cellpadding="1" cellspacing="1" style="width:500px">
    <caption>Все пользователи</caption>
    <thead>
    <th >ID</th>
    <th >Имя</th>
    <th >Логин</th>
    <th >Email</th>
    <th >Роль</th>
    </thead>
    <tbody th:each="user : ${users}">
        <td th:text="${user.getId()}"/>
        <td th:text="${user.getName()}"/>
        <td th:text="${user.getLogin()}"/>
        <td th:text="${user.getEmail()}"/>
        <td th:text="${user.getRole().name()}"/>
        <td>
            <form method="post" action="/user/admin/block">
                <input type="hidden" id="block_id" name="block_id" th:value="${user.getId()}">
                <button type="submit">Заблокировать пользователя</button>
            </form>
        <td>
            <form method="post" action="/user/admin/unblock">
                <input type="hidden" id="unblock_id" name="unblock_id" th:value="${user.getId()}">
                <button type="submit">Разблокировать пользователя</button>
            </form>
        <td>
            <form method="post" action="/user/admin/delete">
                <input type="hidden" id="delete_id" name="delete_id" th:value="${user.getId()}">
                <button type="submit">Удалить пользователя</button>
            </form>
</table>
<br/>
<form style="margin-left:70px" method="get" action="/user/admin/register">
    <button type="submit">Зарегестрировать пользователя</button>
</form>

<p>&nbsp; &nbsp;&nbsp;</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:500px">
    <caption>Все услуги</caption>
    <thead>
    <th>ID</th>
    <th>Название</th>
    <th>Цена</th>
    </thead>
    <tbody th:each="service : ${services}">
        <td th:text="${service.getId()}"/>
        <td th:text="${service.getName()}"/>
        <td th:text="${service.getPrice()}"/>
        <td>
            <form method="post" action="/user/admin/remove">
                <input type="hidden" id="delete_service_id" name="delete_service_id" th:value="${service.getId()}">
                <button type="submit">Удалить услугу</button>
            </form>
</table>
<a>Сортировка по:</a>
<a style="margin-left:50px" href="/user/admin?sort=id">Id</a>
<a style="margin-left:60px" href="/user/admin?sort=name">Название</a>
<a style="margin-left:70px" href="/user/admin?sort=price">Цена</a>
<form style="margin-left:70px" method="get" action="/user/admin/add">
    <button type="submit">Добавить услугу</button>
</form>

<p>&nbsp;</p>
</body>
</html>
