<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>[[#{block.title}]]</title>
    <div class="container">
        <a href="/user/logout">
            <button style="margin-left:120px" type="submit" >[[#{exit}]]</button>
        </a>
        <a href="/user/change">
            <button style="margin-left:120px" type="submit" >[[#{change}]]</button>
        </a>
        <a href="/user/balance">
            <button style="margin-left:120px" type="submit" >[[#{balance}]]</button>
        </a>
        <a style="margin-left:800px" th:text="${user.getMoney()}">value</a>
        <a th:href="@{?lang=en}">
            <button style="margin-left:20px" type="submit">EN</button>
        </a>
        <a th:href="@{?lang=uk}">
            <button style="margin-left:1px" type="submit">UK</button>
        </a>
    </div>
</head>
<hr/>
<body>
<p style="text-align:center"><span style="font-size:26px"><span style="font-family:Comic Sans MS,cursive">[[#{block.block}]]</span></span></p>
<a style="margin-left:500px" href="/user/balance">[[#{block.addBalance}]]</a>
</body>
</html>