<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>[[#{change.title}]]</title>
    <div class="container">
        <a href="/user/logout">
            <button style="margin-left:120px" type="submit" >[[#{exit}]]</button>
        </a>
        <a href="/user">
            <button style="margin-left:120px" type="submit" >[[#{profile}]]</button>
        </a>
        <a href="/user/balance">
            <button style="margin-left:120px" type="submit" >[[#{balance}]]</button>
        </a>
        <a style="margin-left:1px" th:text="${user.getMoney()}">value</a>
        <a th:href="@{?lang=en}">
            <button style="margin-left:20px" type="submit">EN</button>
        </a>
        <a th:href="@{?lang=uk}">
            <button style="margin-left:1px" type="submit">UK</button>
        </a>
    </div>
    <br/>
</head>
<body>
<hr/>
<form style="text-align:center" th:method="POST" action="/user/change" th:object="${passForm}">
    <div><label> [[#{change.old}]]: <input type="password" th:field="*{oldPassword}" name="oldPass" /> </label>
        <div style="color:red" th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}">Name Error</div>
    </div>
    <div><label> [[#{change.new}]]: <input type="password" th:field="*{newPassword}" name="newPass" /> </label>
        <div style="color:red" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}">Name Error</div>
    </div>
    <div><button type="submit">[[#{change.enter}]]</button></div>
</form>
</body>
</html>