<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Смена пароля</title>
</head>
<body>
<form style="text-align:center" th:method="POST" action="/user/change" th:object="${passForm}">
    <div><label> Старый пароль: <input type="password" th:field="*{oldPassword}" name="oldPass" /> </label></div>
    <div><label> Новый пароль: <input type="password" th:field="*{newPassword}" name="newPass" /> </label>
        <div style="color:red" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}">Name Error</div>
    </div>
    <div><input type="submit" value="Подтвердить"/></div>
</form>
</body>
</html>