<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Смена пароля</title>
    <a style="margin-left:50px" href="/user/logout">Выход</a>
    <a style="margin-left:70px" href="/user">Личный кабинет</a>
    <a style="margin-left:500px" href="/user/balance">Баланс</a>
    <br/>
    <a style="margin-left:800px" th:text="${user.getMoney()}">value</a>
</head>
<body>
<hr/>
<form style="text-align:center" th:method="POST" action="/user/change" th:object="${passForm}">
    <div><label> Старый пароль: <input type="password" th:field="*{oldPassword}" name="oldPass" /> </label>
        <div style="color:red" th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}">Name Error</div>
    </div>
    <div><label> Новый пароль: <input type="password" th:field="*{newPassword}" name="newPass" /> </label>
        <div style="color:red" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}">Name Error</div>
    </div>
    <div><input type="submit" value="Подтвердить"/></div>
</form>
</body>
</html>