<!DOCTYPE html>
<html>
<head>
	<title>be1.ru</title>
	<form style="margin-left:120px" method="get" action="/login">
		<button type="submit">Войти</button>
	</form>
</head>
<body>
<hr/>

<p style="text-align:center"><span style="font-size:26px"><span style="font-family:Comic Sans MS,cursive">Интернет провайдер</span></span></p>

<hr />
<p style="margin-left:120px">&nbsp;</p>

<p style="margin-left:120px">&nbsp;</p>

<p style="margin-left:120px">Для подключения обращяйтесь последующим контактам:</p>

<p style="margin-left:160px">+380503994939</p>

<p style="margin-left:160px">telegram: @serega_vlk</p>
</body>
</html>
