<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>[[#{reg.title}]]</title>
</head>
<body>
    <form method="POST" action="/user/admin/register" th:object="${user}">
        <label for="name">[[#{reg.enter.name}]]:</label>
        <input name="name" th:field="*{name}" id="name">
        <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
        <br/>
        <label for="email">[[#{reg.enter.email}]]:</label>
        <input name="email" th:field="*{email}" id="email">
        <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Name Error</div>
        <br/>
        <label for="login">[[#{reg.enter.login}]]:</label>
        <input name="login" th:field="*{login}" id="login">
        <div style="color:red" th:if="${#fields.hasErrors('login')}" th:errors="*{login}">Name Error</div>
        <br/>
        <label for="password">[[#{reg.enter.password}]]:</label>
        <input type="password" name="password" th:field="*{password}" id="password">
        <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Name Error</div>
        <br/>
        <label for="repeatPass">[[#{reg.enter.passwordRepeat}]]:</label>
        <input type="password" name="repeatPass" id="repeatPass">
        <div style="color:red" th:if="${#fields.hasErrors('repeatPass')}" th:errors="*{repeatPass}">Name Error</div>
        <br/>
        <button type="submit">[[#{reg.enter.register}]]</button>
    </form>
</body>
</html>