<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<title>Пользователь</title>
	<a style="margin-left:50px" href="/user/logout">Выход</a>
	<a style="margin-left:70px" href="/user/change">Сменить пароль</a>
	<a style="margin-left:500px" href="/user/balance">Баланс</a>
	<br/>
	<a style="margin-left:800px" th:text="${user.getMoney()}">value</a>
</head>
<body>
<hr />
<a><span style="font-family:Comic Sans MS,cursive" >Здраствуйте, </span></a>
<a><span style="font-family:Comic Sans MS,cursive" th:text="${user.getName()}">text</span></a>

<br/>
<br/>
<br/>

<table border="1" cellpadding="1" cellspacing="1" style="width:500px">
	<caption>Подключенные услуги</caption>
	<thead>
	<th>ID</th>
	<th>Название</th>
	<th>Цена</th>
	</thead>
	<tbody >
		<td text="Здесь">
		<td text="Будут">
		<td text="Услуги">
	<tbody/>
</table>

<p>&nbsp; &nbsp;&nbsp;</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:500px">
	<caption>Все услуги</caption>
	<thead>
	<th>ID</th>
	<th>Название</th>
	<th>Цена</th>
	</thead>
	<tbody th:each="service : ${services}">
		<td th:text="${service.getId()}"/>
		<td th:text="${service.getName()}"/>
		<td th:text="${service.getPrice()}"/>
	<tbody/>
</table>
<a>Сортировка по:</a>
<a style="margin-left:50px" href="/user?sort=id">Id</a>
<a style="margin-left:60px" href="/user?sort=name">Название</a>
<a style="margin-left:70px" href="/user?sort=price">Цена</a>

<p>&nbsp;</p>
</body>
</html>
